.todo_list-form {
	margin: 0 auto 30px;
	display: flex;
	max-width: 380px;
	justify-content: space-between;
	align-items: center;
}
.todo_list-btn {
	margin-left: 10px;
	cursor: pointer;
	font-size: 18px;
	height: 38px;
	bottom: none;
	border-radius: 10px;
	color: #fff;
	background: #333;
	outline: none;
	padding: 6px 26px;
	box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65);
	&:hover {
		filter: brightness(110%);
	}
	&:active {
		transform: translate(0, 0.3rem);
		box-shadow: 0 0.1rem rgba(255, 255, 255, 0.3);
	}
}
