.quote-generate {
	display: flex;
	flex-direction: column;
	align-items: center;
	.quote-container {
		width: auto;
		max-width: 900px;
		padding: 20px 30px;
		border-radius: 10px;
		background-color: rgba(255, 255, 255, 0);
		box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
		text-align: center;
		margin-top: 15px;
	}

	.button-container {
		margin-top: 15px;
		display: flex;
		justify-content: space-between;
	}
}
